# mailhog

Helm chart for https://github.com/mailhog/MailHog

## Install
```bash
helm upgrade mailhog mailhog --repo https://rene6502.github.io/charts \
  --atomic --install --namespace default \
  --set ingress.enabled=true \
  --set ingress.hostname=mailhog.example.com \
  --set ingress.annotations."cert-manager\.io/cluster-issuer"=platform-issuer \
  --set ingress.tls=true
```

{{ template "chart.valuesSection" . }}
