# tls-secret

Helm chart for creating a ExternalSecret for an Ingress TLS secret.

## Install
```bash
helm upgrade example-tls tls-secret --repo https://rene6502.github.io/charts \
  --atomic --install --namespace default \
  --set name=example-tls
```

{{ template "chart.valuesSection" . }}
