# webdav

Helm chart for https://github.com/BytemarkHosting/docker-webdav

## Install
```bash
helm upgrade webdav webdav --repo https://rene6502.github.io/charts \
  --atomic --install --namespace default \
  --set ingress.enabled=true \
  --set ingress.hostname=webdav.example.com \
  --set ingress.annotations."cert-manager\.io/cluster-issuer"=platform-issuer \
  --set ingress.tls=true
```

{{ template "chart.valuesSection" . }}
