image:
  registry: ghcr.io
  repository: kube-vip/kube-vip
  tag: v1.0.3
  pullPolicy: IfNotPresent

# -- Registry secret names as an array
imagePullSecrets: []

# -- String to partially override common.fullname
nameOverride: ""
# -- String to fully override common.fullname
fullnameOverride: ""
# -- Override the namespace
# @default -- `.Release.Namespace`
namespaceOverride: ""

# Check https://kube-vip.io/docs/installation/flags/
env:
  vip_arp: true
  vip_interface: ""
  prometheus_server: ":2112"
  port: 6443
  dns_mode: first
  svc_enable: true
  svc_leasename: plndr-svcs-lock
  vip_leasename: plndr-cp-lock
  vip_leaderelection: true
  vip_leaseduration: 5
  vip_renewdeadline: 3
  vip_retryperiod: 1

envValueFrom:
  vip_nodename:
    fieldRef:
      fieldPath: spec.nodeName  

config: {}
