# minio

Helm chart for https://github.com/minio/minio

## Install
```bash
helm upgrade minio minio --repo https://rene6502.github.io/charts \
  --atomic --install --namespace default \
  --set ingress.enabled=true \
  --set ingress.hostname=minio.example.com \
  --set ingress.annotations."cert-manager\.io/cluster-issuer"=platform-issuer \
  --set ingress.tls=true
```

{{ template "chart.valuesSection" . }}
